html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 480px;
    margin: 40px auto;
}

.container button {
    display: block;
    background-color: #FD4B21;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 12px 48px;
    margin: 0;
    cursor: pointer;
}
.container button:hover{
    background-color: rgba(253, 76, 34, .8);
}
.container button:active{
    background-color: rgba(253, 76, 34, .6);
}